.build-banner {
  background-color: c(bg-alt);
  color: c(text-strong);
  padding: s(2);
  font-size: fs(sm-md);
  text-align: center;
  box-shadow: sh(sm);
  border-bottom-left-radius: r(sm);
  border-bottom-right-radius: r(sm);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: map-get($z, header) + 1;
}
.build-banner + .site-header {
  top: s(6); // banner height
}
