.desktop-nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: map-get($space, 1) map-get($space, 6);

  @include mq(sm) {
    display: flex;
  }

  &__logo a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    transition: color $dur-fast $easing-standard;

    &:hover,
    &:focus {
      color: map-get($colors, blue);
    }
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: map-get($space, 6);

    a {
      text-decoration: none;
      color: inherit;
      padding-bottom: map-get($space, 1); // Creates space for the underline
      border-bottom: map-get($border-widths, md) solid transparent;
      transition: color $dur-fast $easing-standard, border-color $dur-fast $easing-standard;

      &:hover,
      &:focus {
        color: map-get($colors, blue);
        border-bottom-color: map-get($colors, gold);
      }
    }
  }

  &__cta {
    // CTA button styles are already defined in _buttons.scss
  }
}
