/* =====================
   Menu Overlay Component
   ===================== */

$overlay-bg: rgba(map-get($colors, blue), 0.9);

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: clamp(16rem, 50vw, 24rem); // Flexible width with min/max
  max-width: 90vw;
  padding: map-get($space, 4);
  height: 100%;
  background-color: $overlay-bg;
  color: map-get($colors, white);

  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform $dur $easing-standard, opacity $dur $easing-standard;

  z-index: map-get($z, menu);
  display: flex;
  flex-direction: column;
  box-shadow: map-get($shadows, lg);

  &.is-open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  &__content {
    padding: map-get($space, 5);
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__close {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: fs(xxl);
    color: map-get($colors, white);
    cursor: pointer;

    &:hover,
    &:focus {
      color: map-get($colors, gold);
    }
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: map-get($space, 5) 0 0;

    li {
      margin-bottom: map-get($space, 4);
    }

    a:not(.btn) {
      color: map-get($colors, white);
      text-decoration: none;
      font-size: fs(lg);

      &:hover,
      &:focus {
        color: map-get($colors, gold);
      }
    }

    .sub-menu {
      list-style: none;
      margin: map-get($space, 2) 0 0;
      padding-left: map-get($space, 4);
    }

    .sub-menu li {
      margin-bottom: map-get($space, 2);
    }
  }
}

/* Backdrop */
.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(map-get($colors, black), 0.5);

  opacity: 0;
  pointer-events: none;
  transition: opacity $dur $easing-standard;

  z-index: map-get($z, overlay);

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}
