DJANGO_SECRET_KEY=not-a-real-secret
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=technofatty.com,www.technofatty.com,localhost,127.0.0.1
POSTGRES_DB=technofatty
POSTGRES_USER=technofatty
POSTGRES_PASSWORD=insecure
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
NEWSLETTER_PROVIDER=stub
OPT_IN_MODE=single
NEWSLETTER_TIMEOUT_SECONDS=3
ANALYTICS_ENABLED=false
ANALYTICS_PROVIDER=plausible
ANALYTICS_SITE_ID=
CONSENT_REQUIRED=true
