# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
/staticfiles/
media/
*.log

# Virtual environment
venv/
env/
.venv/
technofatty_env/

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# SCSS cache
.sass-cache/

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env files
.env
*.env

# Coverage / Test
htmlcov/
.tox/
.coverage
.pytest_cache/
