@import "../abstracts/variables";

#support-intro,
#support-faqs,
#support-guides,
#support-troubleshooting,
#support-account-billing,
#support-privacy-security,
#support-accessibility,
#support-status,
#support-contact {
  padding-block: map-get($section-pad-y, base);
  @include mq(md) { padding-block: map-get($section-pad-y, md); }
  @include mq(lg) { padding-block: map-get($section-pad-y, lg); }
}

