<section id="featured" class="featured" aria-labelledby="featured-heading">
  <h2 id="featured-heading" class="section-title">Featured Resources</h2>

  <!-- Background motifs -->
  <div class="featured__bg-motif featured__bg-motif--tl">
    {% include "coresite/partials/motifs/motif1.svg" %}
  </div>
  <div class="featured__bg-motif featured__bg-motif--br">
    {% include "coresite/partials/motifs/motif2.svg" %}
  </div>

  <div class="cards">
    <article class="card">
      <div class="card__img" role="img" aria-label="Resource image placeholder"></div>
      <h3 class="card__title">Title</h3>
      <p class="card__blurb">Short description goes here.</p>
      <a class="card__link" href="#">Read more</a>
    </article>
  </div>
</section>
