{% extends "coresite/base.html" %}

{% block meta %}
  <title>{{ page_title }} | Technofatty</title>
  <meta name="description" content="Case study details from Technofatty.">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta property="og:title" content="{{ page_title }} | Technofatty">
  <meta property="og:description" content="Case study details from Technofatty.">
  <meta property="og:url" content="{{ canonical_url }}">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="Technofatty">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page_title }} | Technofatty">
  <meta name="twitter:description" content="Case study details from Technofatty.">
  <meta name="twitter:url" content="{{ canonical_url }}">
{% endblock %}

{% block content %}
<h1>Case Study Title</h1>
{% include "coresite/partials/global/status_placeholder.html" %}

<div class="container content"></div>
{% endblock %}
