{% extends "coresite/base.html" %}

{% block head_extras %}<meta name="robots" content="noindex,nofollow,noarchive">{% endblock %}
{% block structured_data %}{% endblock %}

{% block content %}
  <section class="section section--scaffold" role="region" aria-labelledby="{{ page_id }}-heading">
    <div class="wrap">
      <h1 id="{{ page_id }}-heading">{{ page_title }}</h1>
      <div class="scaffold__body">
          {% include "coresite/partials/global/status_placeholder.html" %}
        <p>This page has been archived.</p>
        <a class="btn btn--primary" href="/">Go to homepage</a>
      </div>
    </div>
  </section>
{% endblock %}

