{% extends "coresite/base.html" %}

{% block structured_data %}{{ block.super }}{% endblock %}

{% block content %}
  <section class="section section--scaffold" role="region" aria-labelledby="{{ page_id }}-heading">
    <div class="wrap">
      <h1 id="{{ page_id }}-heading">{{ page_title }}</h1>
      <div class="scaffold__body">
        {% include "coresite/partials/global/status_placeholder.html" %}
        <!-- Empty placeholder container. Content to be built in later passes. -->
      </div>
    </div>
  </section>
{% endblock %}

