{% with prefix=id_prefix|default:'nav' %}
<li><a href="/">Home</a></li>
<li><a href="{% url 'knowledge' %}">Knowledge</a></li>
<li><a href="{% url 'tools' %}">Tools</a></li>
<li>
  {% if user.is_authenticated %}
    <a href="{% url 'community' %}">Community</a>
  {% else %}
    <a href="{% url 'join' %}" aria-describedby="{{ prefix }}-community-locked">Community</a>
    <span id="{{ prefix }}-community-locked" class="sr-only">Available after you join.</span>
  {% endif %}
</li>
<li><a href="{% url 'blog' %}">Blog</a></li>
{% endwith %}
