@import "../abstracts/variables";

#legal-intro,
#legal-terms,
#legal-privacy,
#legal-cookies,
#legal-accessibility,
#legal-licensing,
#legal-compliance,
#legal-contact {
  padding-block: map-get($section-pad-y, base);
  @include mq(md) { padding-block: map-get($section-pad-y, md); }
  @include mq(lg) { padding-block: map-get($section-pad-y, lg); }
}
